<div class="container footer">
  <p class="text-muted">Powered by <a href="https://nodejs.org">Node.js</a></p>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js" ></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<% if (typeof(scripts) !== 'undefined') scripts.forEach(function (script) { %>
  <%- `<script src="${script}"></script>` %>
<% }); %>

</body>
</html>
