<div class="col-md-4">
  <div class="panel panel-default">
    <div class="panel-heading"><strong>Useful links</strong></div>
    <ul class="list-group">
      <li class="list-group-item"><a target="_blank" href="https://github.com/concerned-guy">GitHub</a></li>
      <li class="list-group-item"><a target="_blank" href="https://twitter.com">Twitter</a></li>
      <li class="list-group-item"><a target="_blank" href="https://www.facebook.com">Facebook</a></li>
      <li class="list-group-item"><a target="_blank" href="https://nodejs.org">Node.js</a></li>
      <li class="list-group-item"><a target="_blank" href="https://expressjs.com">Express.js</a></li>
      <li class="list-group-item"><a target="_blank" href="https://www.mongodb.com">MongoDB</a></li>
    </ul>
  </div>
</div>
