<div class="container">

  <div class="site-header">
    <h1 class="site-title"><%= title %></h1>
    <p class="lead">Unsociable person's guide to the social network.</p>
    <p><a class="btn btn-primary" href="/add"><span class="glyphicon glyphicon-plus"></span> Add Post</a></p>
  </div>

</div>
