<!DOCTYPE html>
<html>
  <head>
    <title>game testing</title>
    <script src="/models/game.js"></script>    
  </head>


  <body>
    	<div id = "game"> </div>




  </body>
  		<script>
  			document.getElementById('game').innerHTML = print_board()
  		</script>

</html>